<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <a href="dashboard.html" class="navbar-brand mr-auto" id="logo"><img src="img/Logo.svg" class="img-fluid" width="150px"></a>
      <!-- For mobile hamburger menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar8">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar8">
        <ul class="navigation navbar-nav text-center ml-auto">
          <li><a href="dashboard.html" class="nav-link mr-3">Dashboard</a></li>
          <li><a href="#" class="nav-link mr-3">Courses</a></li>
          <li><a href="stock2.html" class="nav-link mr-3">Stock Market Tool</a></li>
        </ul>
        <ul class="navigation navbar-nav text-center ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img src="img/profile-g.svg" height="25px"></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Consulting Help</a></li>
              <li><a class="dropdown-item" href="#">Messaging Inbox</a></li>
              <li><a class="dropdown-item" href="#">Billing</a></li>
              <li><a class="dropdown-item" href="#">Tech Support</a></li>
              <li><a class="dropdown-item" href="index.html">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="spacer5"></div>
  <div class="jumbotron bg-offwhite">
    <div class="container">
      <h1 class="mb-3">Stock Market Tool</h1>
      <div class="u-green mb-5"></div>
      <h3 class="display-4">{{ stock.companyName }} ({{ stock.symbol }})</h3>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Up to date price of the stock">Latest Price: </strong>
        </div>
        <div class="col-lg-3">
          ${{ stock.latestPrice }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Price of the stock at market closing on the previous day">Previous Close: </strong>
        </div>
        <div class="col-lg-3">
          ${{ stock.previousClose }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Change between the latest price and the price at market closing on the previous day">Change
            Percent: </strong>
        </div>
        <div class="col-lg-3">
          {{ stock.changePercent }}%
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Total value of a publically traded company">Market Cap: </strong>
        </div>
        <div class="col-lg-3">
          ${{ stock.marketCap }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Price change since the beginning of the year">YTD Change: </strong>
        </div>
        <div class="col-lg-3">
          {{ stock.ytdChange }}%
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Highest price in the past year">52wk High: </strong>
        </div>
        <div class="col-lg-3">
          {{ stock.week52High }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <strong data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Lowest price in the past year">52wk Low: </strong>
        </div>
        <div class="col-lg-3">
          {{ stock.week52Low }}
        </div>
      </div>
      <hr>
      <p><i>Disclaimer: You will need the stock ticker code (company abbreviation) to use the tool.</i></p>
      <form class="form-inline my-2 my-lg-0 ml-auto" action="/stock2.html" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Lookup Stock Quote" aria-label="Search"
          name="stock_ticker">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Lookup</button>
      </form>
    </div>
  </div>
</body>
<!--Footer area-->
{{!-- <br /><br />
{{#each stock}}
{{@key}} | {{this}}<br />
{{/each}} --}}